<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body centre">
          <form #formulario="ngForm" (ngSubmit)="save()">
            <div class="row">
              <div class="col-12">
                <input
                  required
                  [(ngModel)]="cambio.data"
                  mdbInput
                  id="data"
                  type="date"
                  name="data"
                  class="form-control"
                />
                <label mdbLabel class="form-label" for="data">Data:</label>
                <br />
                <input
                  required
                  [(ngModel)]="cambio.taxaUsdBrl"
                  mdbInput
                  id="taxaUsdBrl"
                  type="text"
                  name="taxaUsdBrl"
                  class="form-control"
                />
                <label mdbLabel class="form-label" for="taxaUsdBrl"
                  >Taxa USD/BRL</label
                >
                <br />
                <button
                  type="submit"
                  [disabled]="!formulario.valid"
                  class="btn btn-success btn-rounded"
                >
                  <i class="fas fa-save fa-sm"></i> Salvar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
