<div class="container mt-4">
  <h2 class="mb-4 text-center">Dashboard Financeiro</h2>

  <div class="row mb-4 align-items-end">
    <div class="col-md-3">
      <mdb-form-control>
        <input
          mdbInput
          type="number"
          [(ngModel)]="anoAtual"
          class="form-control"
          id="anoInput"
          placeholder="Exemplo: '2025'"
        />
        <label mdbLabel class="form-label" for="anoInput">Ano</label>
      </mdb-form-control>
    </div>

    <div class="col-md-3">
      <mdb-form-control>
        <input
          mdbInput
          type="number"
          [(ngModel)]="mesAtual"
          class="form-control"
          id="mesInput"
          placeholder="(1-12)"
        />
        <label mdbLabel class="form-label" for="mesInput">Mês</label>
      </mdb-form-control>
    </div>

    <div class="col-md-6 d-flex gap-2">
      <button
        type="button"
        class="btn btn-primary"
        mdbRipple
        (click)="carregarDashboardMes(anoAtual, mesAtual)"
      >
        Consultar Mês
      </button>
      <button
        type="button"
        class="btn btn-primary"
        mdbRipple
        (click)="carregarDashboardAno(anoAtual)"
      >
        Consultar Ano
      </button>
      <button
        type="button"
        class="btn btn-primary"
        mdbRipple
        (click)="carregarDashboardAtual()"
      >
        Atual
      </button>
    </div>
  </div>

  <div
  *ngIf="
    dashboardData &&
    (dashboardData.totalCreditosMes || dashboardData.totalCreditosAno)
  "
>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title mb-4 text-center">Resumo Financeiro</h5>

      <div class="row align-items-center">
        <!-- lista na esquerda-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.totalPagamentosMes !== undefined"
            >
              <span>Pagamentos no mês:</span>
              <strong>{{ dashboardData.totalPagamentosMes }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.totalDebitosPrazoMes !== undefined"
            >
              <span>Débitos a prazo no mês:</span>
              <strong>{{ dashboardData.totalDebitosPrazoMes }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.totalCreditosMes !== undefined"
            >
              <span>Créditos no mês:</span>
              <strong>{{ dashboardData.totalCreditosMes }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.totalDebitosMes !== undefined"
            >
              <span>Débitos no mês:</span>
              <strong>{{ dashboardData.totalDebitosMes }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.saldoMes !== undefined"
            >
              <span>Saldo do mês:</span>
              <strong>{{ dashboardData.saldoMes }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.totalCreditosAno !== undefined"
            >
              <span>Créditos no ano:</span>
              <strong>{{ dashboardData.totalCreditosAno }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.totalDebitosAno !== undefined"
            >
              <span>Débitos no ano:</span>
              <strong>{{ dashboardData.totalDebitosAno }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.saldoAno !== undefined"
            >
              <span>Saldo do ano:</span>
              <strong>{{ dashboardData.saldoAno }}</strong>
            </li>
            <li
              class="list-group-item d-flex justify-content-between"
              *ngIf="dashboardData.saldoAcumulado !== undefined"
            >
              <span>Saldo acumulado:</span>
              <strong>{{ dashboardData.saldoAcumulado }}</strong>
            </li>
          </ul>
        </div>

        <!-- Gráfico pra direita -->
        <div class="col-lg-6 col-md-6 text-center">
          <div
            class="chart-container mx-auto"
            style="max-width: 300px; height: 300px;"
          >
            <canvas id="dashboardChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div *ngIf="!dashboardData || getKeys(dashboardData).length === 0">
    <p class="text-muted text-center">
      Nenhum dado disponível. Escolha um filtro acima.
    </p>
  </div>
</div>
