<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3 class="centre">Menu de Transações</h3>
          <div class="row">
            <div class="col-6">
              <div class="input-group mb-3">
                <input
                  [(ngModel)]="pesquisa"
                  type="text"
                  class="form-control"
                  placeholder="Pesquisar Transação por ID:"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />
                <button
                  type="button"
                  class="btn btn-primary"
                  mdbRipple
                  (click)="search()"
                >
                  Search
                </button>
              </div>
            </div>
            <div class="col-6">
              @if (!modoModal) {
              <div class="direita">
                <a
                  (click)="new()"
                  class="btn btn-success btn-rounded"
                  mdbRippled
                >
                  <i class="fas fa-plus fa-sm"></i> Add Transação
                </a>
              </div>
            }
            </div>
          </div>
          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">Característica</th>
                @if (!modoModal) {
                <th scope="col">Tipo Transação</th>
                <th scope="col">Status Pagamento</th>
                <th scope="col">Tipo Pagamento</th>
                <th scope="col">Quantidade de Itens</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (transacao of lista; track $index) {
              <tr>
                <td>{{ transacao.id }}</td>
                <td>{{ transacao.data }}</td>
                <td>{{ transacao.caracteristica.toUpperCase() }}</td>
                @if (!modoModal){
                <td>
                  {{
                    tipoTransacaoDescricao[
                      transacao.tipoTransacao
                    ].toUpperCase()
                  }}
                </td>
                <td>
                  {{
                    statusPagamentoDescricao[
                      transacao.statusPagamento
                    ].toUpperCase()
                  }}
                </td>
                <td>
                  {{
                    tipoPagamentoDescricao[
                      transacao.tipoPagamento
                    ].toUpperCase()
                  }}
                </td>
                @if (transacao.itens) {
                <td>{{ transacao.itens.length }}</td>
                }@else {
                <td>---</td>
                }
                <td class="direita">
                  <button
                    type="button"
                    class="btn btn-primary btn-rounded m-1"
                    mdbRipple
                    (click)="edit(transacao)"
                  >
                    <i class="fas fa-pencil fa-sm"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-rounded"
                    mdbRipple
                    (click)="excluirTransacao(transacao)"
                  >
                    <i class="fas fa-trash fa-sm"></i>
                  </button>
                </td>
                }@else {
                <td class="direita">
                  <button
                    (click)="selecionar(transacao)"
                    class="btn btn-success btn-rounded"
                    mdbRippled
                  >
                    Selecionar
                  </button>
                </td>
                }
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
