<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ transacao.id ? "Editando Transação" : "Nova Transação" }}
        </h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>
      <div class="card">
        <div class="card-body centre">
          <form #formulario="ngForm" (ngSubmit)="save()">
            <label mdbLabel class="form-label" for="data"
              >Data da Transação:</label
            >
            <input
              required
              [(ngModel)]="transacao.data"
              mdbInput
              id="data"
              type="date"
              name="data"
              class="form-control"
            />
            <br />
            <label mdbLabel class="form-label" for="caracteristica"
              >Característica da Transação</label
            >
            <input
              required
              [(ngModel)]="transacao.caracteristica"
              mdbInput
              id="caracteristica"
              type="text"
              name="caracteristica"
              class="form-control"
            />
            <br />
            <label mdbLabel class="form-label" for="valorReais"
              >Valor em Reais da Transação:</label
            >
            <input
              required
              [(ngModel)]="transacao.valorReais"
              mdbInput
              id="valorReais"
              type="number"
              name="valorReais"
              class="form-control"
            />
            <br />
            <label mdbLabel class="form-label" for="taxaCambio"
              >Taxa do Câmbio:</label
            >
            <input
              required
              [(ngModel)]="transacao.taxaCambio"
              mdbInput
              id="taxaCambio"
              type="number"
              name="taxaCambio"
              class="form-control"
            />
            <br />
            <div class="mb-3">
              <label class="form-label">Tipo de Transação</label>
              <select
                id="tipoTransacao"
                class="form-select"
                [(ngModel)]="transacao.tipoTransacao"
                name="tipoTransacao"
                required
              >
                <option
                  *ngFor="let tipo of tipoTransacoes"
                  [value]="tipo.value"
                >
                  {{ tipo.label }}
                </option>
              </select>
            </div>
            <br />
            <div class="mb-3">
              <label class="form-label">Status do Pagamento</label>
              <select
                id="statusPagamento"
                class="form-select"
                [(ngModel)]="transacao.statusPagamento"
                name="statusPagamento"
                required
              >
                <option
                  *ngFor="let status of statusPagamentos"
                  [value]="status.value"
                >
                  {{ status.label }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Tipo de Pagamento</label>
              <select
                id="tipoPagamento"
                class="form-select"
                [(ngModel)]="transacao.tipoPagamento"
                name="tipoPagamento"
                required
              >
                <option *ngFor="let tp of tipoPagamentos" [value]="tp.value">
                  {{ tp.label }}
                </option>
              </select>
            </div>
            <br />

            @if(transacao.id > 0){
            <button
              type="submit"
              [disabled]="!formulario.valid"
              class="btn btn-success btn-rounded"
            >
              <i class="fas fa-save fa-sm"></i> Atualizar
            </button>
            }@else {
            <button
              type="submit"
              [disabled]="!formulario.valid"
              class="btn btn-success btn-rounded"
            >
              <i class="fas fa-save fa-sm"></i> Salvar
            </button>
            }
            <button
              type="button"
              class="btn btn-danger btn-rounded m-1"
              (click)="close()"
            >
              <i class="fa-solid fa-xmark"></i> Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
