<div class="container my-4">
  <h2 class="text-center mb-4">Extrato Financeiro</h2>

  <!-- Filtros -->
  <div class="row mb-3">
    <div class="col-md-3">
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="number"
          id="form1Example1"
          class="form-control"
          [(ngModel)]="ano"
          placeholder="Ano"
          name="ano"
        />
        <label mdbLabel class="form-label" for="form1Example1">Ano</label>
      </mdb-form-control>
    </div>
    <div class="col-md-3">
      <mdb-form-control class="mb-4">
        <input
          mdbInput
          type="number"
          id="form1Example2"
          class="form-control"
          [(ngModel)]="mes"
          placeholder="mes"
          name="mes"
        />
        <label mdbLabel class="form-label" for="form1Example2">Mês</label>
      </mdb-form-control>
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <button
        type="button"
        class="btn btn-primary"
        mdbRipple
        (click)="carregarExtratosMes()"
      >
        Buscar
      </button>
    </div>
  </div>

  <div *ngIf="resumoMensal" class="row mb-4">
    <div class="col-md-4">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5>Total Créditos</h5>
          <p>{{ resumoMensal.totalCreditos | currency : "USD" }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-danger text-white">
        <div class="card-body">
          <h5>Total Débitos</h5>
          <p>{{ resumoMensal.totalDebitos | currency : "USD" }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5>Saldo Mês</h5>
          <p>{{ resumoMensal.saldoMes | currency : "USD" }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Extratos do Mês</h5>

      <table
        *ngIf="extratos.length > 0"
        class="table table-hover table-striped mt-3"
      >
        <thead>
          <tr>
            <th>Data</th>
            <th>Total Créditos</th>
            <th>Total Débitos</th>
            <th>Saldo Dia</th>
            <th>Saldo Acumulado</th>
          </tr>
        </thead>
        <tbody>
          @for (extrato of extratos; track $index) {
          <tr>
            <td>{{ extrato.data }}</td>
            <td>
              {{ extrato.totalCreditosDolares | currency : "USD" }}
            </td>
            <td>
              {{ extrato.totalDebitosDolares | currency : "USD" }}
            </td>
            <td>{{ extrato.saldoDiaDolares | currency : "USD" }}</td>
            <td>
              {{ extrato.saldoAcumuladoDolares | currency : "USD" }}
            </td>
          </tr>
          }
        </tbody>
      </table>

      <div *ngIf="extratos.length === 0" class="text-center">
        Nenhum extrato encontrado.
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <mdb-form-control>
        <input
          mdbInput
          type="date"
          id="form1Example3"
          class="form-control"
          [(ngModel)]="data"
          placeholder="mm-dd-yyyy"
          name="data"
        />
        <label mdbLabel class="form-label" for="form1Example3"
          >Data para atualizar</label
        >
      </mdb-form-control>
    </div>
    <div class="col-md-4 d-flex align-items-end">
      <button
        type="button"
        class="btn btn-primary"
        mdbRipple
        (click)="atualizarExtratoDia()"
      >
        Atualizar Dia
      </button>
    </div>
  </div>
</div>
